
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Signika:wght@300..700&display=swap');

body{
   background-color: #fafafaa9;
   margin: 0;
}
.title{
  text-align: left;
  margin-left:40px;
  margin-top:40px;
  text-decoration:underline;
  color: #ecf87b;
}
#image{
  height: 400px;
  width:200px;
}
#delux{
  background-color: rgb(253, 246, 144);
  text-decoration: tomato underline;
}
#card1{
  display: inline-block;
  height:250px;
  margin-left: 50px;
  text-align: center;
  font-family: signika;
  padding-left:200px;
  padding-right:200px;
}
#card{
  display: inline-block;
  height:400px;
  width:380px;
  font-family: signika;
  margin-left:65px;
  border: solid 1px black;
  box-shadow: 2px 5px 10px rgb(66, 64, 64) ;
  border-radius: 5px;
  text-align: center;
  margin-bottom:100px;
}
.c1{
  height: 400px;
  padding-left:10px;
  padding-right:10px;
  border: solid 1px black;
}
#card:hover{
  box-shadow: 5px 6px 12px rgb(15, 15, 15) ;
}
#img{
  padding-top:15px;
  height: 125px;
}
#img:hover{
  
}
.text{
  text-align: center;
  font-family: signika;
}
.bodytext{
  padding-left: 10px;
  padding-right:10px;
  font-family: signika;
  text-align:left;
}





.cherry-swash-regular {
    font-family: "Cherry Swash", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cherry-swash-bold {
    font-family: "Cherry Swash", serif;
    font-weight: 700;
    font-style: normal;
  }

  .signika {
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "GRAD" 0;
  }
  
  

body{
   background-color: #fafafaa9;
   margin: 0;
}


.menu-items{
    text-align: end;
    cursor: pointer;
    background-color: #e3f2d4;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu-title{
  font-size: 40px;
  margin-right: 630px;
}

.menu-text{
    text-decoration: none;
    color: #01090c;
    margin: 20px;
    font-size: 20px;
}
.main-footer{
  margin-top: 10px;
  background-color: #e3f2d4;
  height: 300px;
  display: flex;
  font-size: 20px;
}

.map{
  margin: 10px;
}

.footer-values{
  margin-left: 80px;
}

.social-media{
  width: 40px;
  margin: 0 10px 0 10px;
}