@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Signika:wght@300..700&display=swap');

/* header */
.main-header{
  height: 500px;
  background-image: url("./../images/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  margin-bottom: 10px;
}

.menu-items{
  text-align: end;
  cursor: pointer;
  background-color: #e3f2d4;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu-title{
font-size: 40px;
margin-left: 20px;
position: absolute;
left: 1%;
}

.menu-text{
  text-decoration: none;
  color: #01090c;
  margin: 20px;
  font-size: 20px;
}
.menu-text:hover{
color: #6d8654;
text-decoration: underline;
font-size: 25px;
transition: 0.2s;
}


/* main */
.sign-up-form{
    width: 300px;
    border: 2px solid;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background-color:bisque;
    padding: 20px;
    margin: 3% auto 0;
    text-align: center;
}
.sign-up-form h1 {
    color: rgb(28, 75, 59);
    margin-bottom: 30px;;

}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}
button{

    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
.sign-up-button{
    background-color: #5bc7eb;
}
.google-button{
    background-color: #5bc7eb;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    border: 1px solid;
    background: white;
    width: 30px;
    margin: -20px auto 0 130px;
}


/* footer */
.main-footer{
  margin-top: 10px;
  background-color: #e3f2d4;
  height: 300px;
  display: flex;
  font-size: 20px;
}

.footer-nav-bar{
  display: none;
}

.footer-items{
  display: flex;
}

.map{
  margin: 10px;
}

.footer-values{
  margin-left: 80px;
}

.social-media{
  width: 40px;
  margin: 0 10px 0 10px;
}

