@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Signika:wght@300..700&display=swap');

body{
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.heading{
    text-align: center;
    font-family: "Signika", sans-serif;
    color:black;
    font-size: 50px;
}
.head-text{
    text-align: center;
    background-color: orange;
    color: black;
    font-size: 30px;
    font-family: "Signika",sans-serif;
}
.info {
    text-align: center;
    font-family: "Signika", sans-serif;
    color:black;
    font-size: 25px;
}
.vegies{
    display:flex;
    text-align: center;
     gap: 20px;
    padding: 10px;
}

.vegies-img{
    height:200px;
    width:200px;
    justify-content: space-evenly;
    margin: 10px;
    border:solid gray 2px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
 
}
.vegies-img:hover{
    transform: 200ms;
    box-shadow: 5px 5px 15px 10px rgb(89, 90, 77);

}
.vegies-items{
    flex: 1 1 calc(25% - 20px);
    border: 1px solid gray;
    border-radius: 30px;
    align-items: center;
    margin-bottom: 20px;
    background-color: aliceblue;
    padding: 10px;
    margin:10px;
    justify-content: center;
}

.vegies-items:hover{
    transform: 200ms;
    box-shadow: 5px 5px 15px 10px rgb(160, 167, 85);

}
h2{
    font-family: "Signika", sans-serif;
}
.vegies-desci{
    font-family: "Signika", sans-serif;
}

@media screen and (max-width: 600px) {
    .heading{
        text-align: center;
        font-family: "Signika", sans-serif;
        color:black;
        font-size: 25px;
    }
    .head-text{
        text-align: center;
        background-color: orange;
        color: black;
        font-size: 20px;
        font-family: "Signika",sans-serif;
    }
    .info {
        text-align: center;
        font-family: "Signika", sans-serif;
        color:black;
        font-size: 15px;
    }
    .vegies{
        display:inline;
        text-align: center;
    }
    
    .vegies-img{
        height:200px;
        width:200px;
        justify-content:center;
        align-items: center;
        margin: 10px;
        border:solid gray 2px;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
     
    }
    .vegies-img:hover{
        transform: 200ms;
        box-shadow: 5px 5px 15px 10px rgb(89, 90, 77);
    
    }

    
    
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .heading{
        text-align: center;
        font-family: "Signika", sans-serif;
        color:black;
        font-size: 30px;
    }
    .head-text{
        text-align: center;
        background-color: orange;
        color: black;
        font-size: 25px;
        font-family: "Signika",sans-serif;
    }
    .info {
        text-align: center;
        font-family: "Signika", sans-serif;
        color:black;
        font-size: 20px;
    }
    .vegies{
        display:inline;
        text-align: center;
    }
    
    .vegies-img{
        height:300px;
        width:300px;
        justify-content:center;
        align-items: center;
        margin: 10px;
        border:solid gray 2px;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
     
    }
    .vegies-img:hover{
        transform: 200ms;
        box-shadow: 5px 5px 15px 10px rgb(89, 90, 77);
    
    }

}
@media screen and (min-width: 993px) and (max-width: 1200px){
    .heading{
        text-align: center;
        font-family: "Signika", sans-serif;
        color:black;
        font-size: 30px;
    }
    .head-text{
        text-align: center;
        background-color: orange;
        color: black;
        font-size: 25px;
        font-family: "Signika",sans-serif;
    }
    .info {
        text-align: center;
        font-family: "Signika", sans-serif;
        color:black;
        font-size: 30px;
    }
    .vegies{
        display:flex;
        text-align: center;
    }
    
    .vegies-img{
        height:300px;
        width:300px;
        justify-content:center;
        align-items: center;
        margin: 10px;
        border:solid gray 2px;
        border-radius: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
     
    }
    .vegies-img:hover{
        transform: 200ms;
        box-shadow: 5px 5px 15px 10px rgb(89, 90, 77);
    
    }

}