body{
    margin:0px ;
    padding:0px;
}

.main-header{
    height: 500px;
    background-image: url("./../images/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    margin-bottom: 10px;
}

.menu-items{
    text-align: end;
    cursor: pointer;
    background-color: #e3f2d4;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu-title{
  font-size: 40px;
  margin-left: 20px;
  position: absolute;
  left: 1%;
}

.menu-text{
    text-decoration: none;
    color: #01090c;
    margin: 20px;
    font-size: 20px;
}
.menu-text:hover{
  color: #6d8654;
  text-decoration: underline;
  font-size: 25px;
  transition: 0.2s;
}

.box{
    width:400px;
    background-color:#fff;
    text-align: center;
    padding:10px;
    box-shadow: 0 0 10px 5px #ffd6cc;
    transition: 1s;
    margin:20px;
    border-radius: 10px;
}
.box img{
    height:140px;
    width:140px;
    border-radius: 50%;
    }
.box p{
    padding:10px 0;
    font-size:26px;
    }
.box h2{
    padding:10px 0;
    font-size: 35px;
    }
.wrapper{
        display: flex;
        justify-content:space-evenly;
    }
    .header{
        text-align: center;
        }
        .btn{
        border:1px solid black;
        padding:12px;
        border-radius: 20px 0 20px 0;
        background-color: #ffd6cc;
        color:#ff3300;
        margin:10px;
        }
        .btn:hover{
        color: #009933;
        background-color: #ccffdd;
        transition: 1s;
  }