body{
    margin:0px ;
    padding:0px;
}
.box{
    width:400px;
    background-color:#fff;
    text-align: center;
    padding:10px;
    box-shadow: 0 0 10px 5px #ffd6cc;
    transition: 1s;
    margin:20px;
    border-radius: 10px;
}
.box img{
    height:140px;
    width:140px;
    border-radius: 50%;
    }
.box p{
    padding:10px 0;
    font-size:26px;
    }
.box h2{
    padding:10px 0;
    font-size: 35px;
    }
.wrapper{
        display: flex;
        justify-content:space-evenly;
    }
    .header{
        text-align: center;
        }
        .btn{
        border:1px solid black;
        padding:12px;
        border-radius: 20px 0 20px 0;
        background-color: #ffd6cc;
        color:#ff3300;
        margin:10px;
        }
        .btn:hover{
        color: #009933;
        background-color: #ccffdd;
        transition: 1s;
  }