.sweets-container{
    height: 700px;
    margin-bottom: 50px;  
}

.sweets-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sweets-items{
    background-color: #e7f3f3;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    
}

.chocolate-cake{
    width: 300px;
    border-radius: 10px;
}

.ice-cake{
    width: 300px;
    border-radius: 10px;
}

.pineapple-cake{
    object-fit: cover;
    width: 300px;
    height: 225px;
    border-radius: 10px;
}

.velvet-cake{
    object-fit: cover;
    width: 300px;
    height: 225px;
    border-radius: 10px;
}

.sweet-title{
    text-align: center;
    font-size: 40px;
}