.sweets-container{
    height: 700px;
    margin-bottom: 50px;  
}

.sweets-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sweets-items{
    background-color: #e7f3f3;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    
}

.items{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.sweet-title{
    text-align: center;
    font-size: 40px;
}

@media screen and (max-width: 600px) 
{ 
  .body{
    position: relative;
    
  }

  .main-header{
    height: 500px;
    background-image: url("./../images/bg-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    margin-bottom: 10px;
}

.menu-items{
    background-color: #e3f2d4;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-title{
  font-size: 40px;
  margin-right: 60px;

}

.menu-text{
    display: none;
}

.sweets-container{
    height: 100%;
    margin-bottom: 100px;
}

.sweets-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sweets-items{
    background-color: #e7f3f3;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    
}

.sweet-title{
    text-align: center;
    font-size: 40px;
}

.items{
    height: 240px;
    width: 300px;
    border-radius: 10px;
}

.main-footer{
margin-top: 20px;
background-color: #e3f2d4;
height: 500px;
display: flex;
font-size: 20px;
flex-wrap: wrap;
}

.footer-items{
display: flex;
flex-wrap: wrap;
height: 200px;
}

.map{
margin: 10px;
height: 250px;
width: 300px;
}

.footer-values{
margin-left: 10px;
font-size: 14px;
}

.social-media{
height: 29px;
}

.footer-nav-bar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #b3d88f;
  width: 100%;
  height: 60px;
}

.footer-logos{
  height: 40px;
}

.footer-logos:hover{
  cursor: pointer;
  height: 50px;
  transition: 0.3s;
  border-radius: 5px;
  background-color: #e3f2d4;
}
}

/* Normal Devices  */
@media screen and (min-width: 601px) and (max-width: 768px) 
{ 
.body{
position: relative;

}

.main-header{
height: 500px;
background-image: url("./../images/bg-img.jpg");
background-size: cover;
background-repeat: no-repeat;
background-blend-mode: saturation;
margin-bottom: 10px;
}

.menu-items{
text-align: end;
cursor: pointer;
background-color: #e3f2d4;
height: 80px;
width: 100%;
display: flex;
justify-content: end;
align-items: center;
}

.menu-title{
display: none;
}

.menu-text{
text-decoration: none;
color: #01090c;
margin: 10px;
font-size: 15px;
}

.menu-text:hover{
color: #6d8654;
text-decoration: underline;
font-size: 20px;
transition: 0.2s;
}

.sweets-container{
    height: 1000px;
    margin-bottom: 100px;
}

.sweets-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sweets-items{
    background-color: #e7f3f3;
    width: 260px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    
}

.sweet-title{
    text-align: center;
    font-size: 40px;
}

.items{
    height: 240px;
    width: 260px;
    border-radius: 10px;
}

.main-footer{
margin-top: 20px;
background-color: #e3f2d4;
height: 500px;
font-size: 18px;
}

.footer-items{
display: flex;
flex-wrap: wrap;
margin: 10px;
height: 300px;
}

.map{
margin: 10px;
}

.footer-values{
margin-left: 20px;
font-size: 16px;
}

.social-media{
height: 30px;
}

.footer-logos{
display: none;
}
}

/* Tablets Devices  */
@media screen and (min-width: 769px) and (max-width: 992px) {
.body{
  position: relative;
  
}

.main-header{
  height: 500px;
  background-image: url("./../images/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  margin-bottom: 10px;
}

.menu-items{
  text-align: end;
  cursor: pointer;
  background-color: #e3f2d4;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu-title{
font-size: 20px;
margin-right: 60px;
position: absolute;
left: 1%;
}

.menu-text{
  text-decoration: none;
  color: #01090c;
  margin: 10px;
  font-size: 18px;
}
.menu-text:hover{
color: #6d8654;
text-decoration: underline;
font-size: 22px;
transition: 0.2s;
}

.sweets-container{
    height: 1000px;
}

.sweets-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sweets-items{
    background-color: #e7f3f3;
    width: 300px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 30px;
    
}

.sweet-title{
    text-align: center;
    font-size: 40px;
}

.items{
    height: 280px;
    width: 300px;
    border-radius: 10px;
}


.main-footer{
margin-top: 170px;
background-color: #e3f2d4;
height: 400px;
display: flex;
font-size: 20px;
}

.footer-items{
display: flex;
flex-wrap: wrap;
}

.map{
margin: 10px;
}

.footer-values{
margin-left: 20px;
}

.social-media{
height: 30px;
}

.footer-logos{
display: none;
}
}

/* Large Devices  */
@media screen and (min-width: 993px) and (max-width: 1200px) {
.body{
  position: relative;
}

.main-header{
  height: 500px;
  background-image: url("./../images/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  margin-bottom: 10px;
}

.menu-items{
  text-align: end;
  cursor: pointer;
  background-color: #e3f2d4;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu-title{
font-size: 20px;
position: absolute;
left: 1%;
}

.menu-text{
  text-decoration: none;
  color: #01090c;
  margin: 10px;
  font-size: 20px;
}

.menu-text:hover{
color: #6d8654;
text-decoration: underline;
font-size: 25px;
transition: 0.2s;
}

.sweets-container{
    height: 600px;
}

.sweets-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sweets-items{
    background-color: #e7f3f3;
    width: 230px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    
}

.sweet-title{
    text-align: center;
    font-size: 35px;
}

.items{
    height: 260px;
    width: 230px;
    border-radius: 10px;
}


.footer-logos{
display: none;
}
}

@media screen and (min-width: 1201px) and (max-width: 1700px){
.body{
  position: relative;
}

.main-header{
  height: 500px;
  background-image: url("./../images/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  margin-bottom: 10px;
}

.menu-items{
  text-align: end;
  cursor: pointer;
  background-color: #e3f2d4;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.menu-title{
font-size: 30px;
margin-left: 20px;
position: absolute;
left: 0%;
}

.menu-text{
  text-decoration: none;
  color: #01090c;
  margin: 20px;
  font-size: 20px;
}

.menu-text:hover{
color: #6d8654;
text-decoration: underline;
font-size: 25px;
transition: 0.2s;
}

.sweets-container{
    height: 600px;
}

.sweets-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sweets-items{
    background-color: #e7f3f3;
    width: 260px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    
}

.items{
    height: 270px;
    width: 260px;
    border-radius: 10px;
}

.main-footer{
margin-top: 10px;
background-color: #e3f2d4;
height: 300px;
display: flex;
font-size: 20px;
}

.map{
margin: 10px;
}

.footer-values{
margin-left: 80px;
}

.footer-logos{
display: none;
}
}